.event {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  background-image: url('../img/fruits-mob.png'), url('../img/second-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top 60% left, top center;
  background-size: 100%, cover;

  padding-top: 10px;

  position: relative;

  &__wrapper {
    @include flex-setting(column, flex-start, center);

    width: 100%;
  }

  &__info {
    @include flex-setting(column, flex-start, center);
    width: 100%;
    margin-bottom: 20px;
  }

  &__info-title {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 0.75em, 1.2, 900, #fff7df);

    width: 310px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #073f72;
    box-shadow: 3px 3px 0 #ffffff;

    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
  }

  &__info-wrap {
    @include flex-setting(column, center, center);

    background-color: #fff7df;
    box-shadow: -3px 3px 0 #073f72;

    width: 300px;
    height: 65px;
  }

  &__info-description {
    max-width: 290px;

    @include font-setting($primary-font, 0.6em, 1.2, 900, #073f72);

    letter-spacing: 0.32px;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
  }
}

@media only screen and (min-width: $mobile) {
  .event {
    padding-top: 10px;

    &__info-title {
      font-size: 0.875em;

      width: 360px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &__info-wrap {
      width: 340px;
    }

    &__info-description {
      max-width: 320px;

      font-size: 0.625em;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .event {
    padding-top: 10px;

    &__info-title {
      font-size: 1em;

      width: 400px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 16px;
    }

    &__info-wrap {
      width: 400px;
      height: 70px;
    }

    &__info-description {
      max-width: 390px;

      font-size: 0.68em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .event {
    background-position: top 40% left, top center;
    padding-top: 116px;

    &__info-title {
      font-size: 1.563em;
      letter-spacing: 0.6px;

      width: 640px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }

    &__info-wrap {
      width: 656px;
      height: 76px;
    }

    &__info-description {
      max-width: 620px;
      line-height: 1.4;
      letter-spacing: 0.32px;
      font-size: 0.812em;
    }
  }
}
@media only screen and (min-width: $laptop) {
  .event {
    background-image: url('../img/fruits-big.png'), url('../img/second-bg.png');
    background-position: top 50% left, top center;
    padding-top: 20px;

    &__info-title {
      font-size: 1.5em;
      letter-spacing: 0.55px;

      width: 650px;
      margin-bottom: 18px;
    }

    &__info-wrap {
      width: 600px;

      height: 140px;
      max-height: 140px;
      transform: rotate(-1deg);
    }

    &__info-description {
      max-width: 540px;
      font-size: 1.125em;
      transform: rotate(1deg);
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .event {
    padding-top: 86px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .event {
    padding-top: 42px;


    &__info {
      padding-bottom: 16px;
    }

    &__info-title {
      font-size: 2em;
      letter-spacing: 0.74px;

      padding-top: 12px;
      padding-bottom: 12px;

      width: 816px;
      margin-bottom: 26px;
    }

    &__info-wrap {
      width: 747px;
      height: 161px;
    }

    &__info-description {
      max-width: 700px;
      font-size: 1.25em;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $hd) {

}
