.header-nav {
  @include flex-setting(row, space-between, flex-start);

  width: 100%;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  height: 70px;

  &__layout {
    @include flex-setting(column, flex-start, center);
    position: absolute;
    top: -1000px;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 10;

    &--active {
      top: 60px;

      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);

      z-index: 10;
    }
  }

  &--active {
    justify-content: flex-end;
    background-color: #ed575f;

    .header-nav__logo {
      display: none;
    }
  }

  &__logo {
    display: block;
    min-width: 128px;
    max-width: 128px;
    height: 60px;
  }

  &__logo-link {
    width: 100%;
    height: 100%;
  }

  &__logo-img {
    width: 100%;
    height: auto;
  }

  &__btn {
    display: inline-flex;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    &--open {
      background-image: url('../img/open-btn.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 27px 20px;
      background-color: #ed575f;
    }
    &--close {
      background-image: url('../img/close-btn.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 23px 23px;
      background-color: #ffffff;
    }
  }

  .hidden {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    height: 80px;

    &__layout {
      &--active {
        top: 70px;
      }
    }

    .hidden {
      display: none;
    }
  }
}

@media only screen and (min-width: $hdm) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $laptop-wide) {

}

@media only screen and (min-width: $widebook-hd) {

}
