.header {
  width: 100%;

  background-color: transparent;
}

@media only screen and (min-width: $mobile) {
  .header {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $hdm) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $widebook-hd) {

}

@media only screen and (min-width: $hd) {

}
