.index {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  background-image:  url('../img/clouds-small.png'), url('../img/first-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left -30px top 60%, top center;
  background-size: 100%, cover;

  padding-bottom: 10px;

  &__wrapper {
    @include flex-setting(column, flex-start, center);
    width: 100%;
  }

  &__intro {
    order: 2;
  }

  &__info {
    order: 1;
  }

  &__controls {
    order: 3;

    @include flex-setting(row, space-between, center);

    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
  }

  &__controls-btn {
    @include flex-setting(column, center, center);
    width: auto;
    padding: 5px 10px;

    text-decoration: none;
    height: 100%;

    @include font-setting($primary-font, 0.6em, 1.2, 900, #ffffff);
    text-align: center;
    text-transform: uppercase;

    &--buy {
      background-color: #40b92f;
      box-shadow: 4px 4px 0 #073f72;
      margin-right: 10px;
    }

    &--event {
      background-color: #ff6700;
      box-shadow: 4px 4px 0 #073f72;
    }
  }

  &__btn {
    order: 4;
    width: 20px;
    height: 10px;

    text-transform: none;
    margin-bottom: 5px;

    &-pic {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .index {
    &__controls {
      max-width: 340px;
      margin-bottom: 15px;
    }

    &__controls-btn {
      padding: 8px 8px;

      font-size: 0.75em;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .index {
    &__controls {
      max-width: 380px;
      margin-bottom: 20px;
    }

    &__controls-btn {
      font-size: 0.875em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .index {
    background-position: left -30px top 50%, top center;

    &__controls {
      max-width: 560px;
    }

    &__controls-btn {
      font-size: 1.125em;
      padding: 16px 18px;
      height: 56px;
    }

    &__btn {
      width: 40px;
      height: 20px;
    }
  }
}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $laptop-wide) {

}

@media only screen and (min-width: $widebook-hd) {

}
