.info {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  max-width: 300px;

  &__description {
    background-color: #073f72;
    box-shadow: 2px 2px 0 #00c5df;

    width: 280px;

    @include flex-setting(column, center, center);

    &-text {
      text-align: center;
      text-transform: uppercase;

      @include font-setting($primary-font, 0.875em, 1.2, 700, #fff7df);

      max-width: 270px;
    }
  }

  &__event {
    @include flex-setting(column, center, center);

    &-text {
      text-align: center;
      text-transform: uppercase;

      @include font-setting($primary-font, 0.75em, 1.2, 700, #073f72);

      margin-top: 3px;
      margin-bottom: 3px;

      max-width: 280px;
    }
  }

  &__btn {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .info {
    max-width: 340px;
    margin-top: 0;

    &__description {
      width: 300px;

      &-text {
        font-size: 1em;
        max-width: 280px;
      }
    }

    &__event {
      &-text {
        font-size: 0.875em;
        max-width: 300px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .info {
    max-width: 100%;
    margin-top: 0;

    &__description {
      width: 340px;

      &-text {
        font-size: 1.125em;
        max-width: 300px;
      }
    }

    &__event {
      &-text {
        max-width: 320px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .info {
    max-width: 100%;
    margin-top: 0;

    &__description {
      width: 640px;
      transition: 0.2s ease-in;

      &-text {
        font-size: 1.125em;
        max-width: 600px;
        transition: 0.2s ease-in;
      }
    }

    &__event {
      &-text {
        font-size: 0.875em;
        max-width: 500px;
        margin-top: 7px;
        margin-bottom: 7px;
        transition: 0.2s ease-in;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .info {
    max-width: 50%;
    margin-top: 38px;

    &__description {
      width: 517px;
      transition: 0.2s ease-in;
      transform: rotate(-1deg);
      box-shadow: 5px 5px 0 #00c5df;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 64px;
        height: 66px;

        background-image: url('../img/ball.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        top: -20px;
        right: -20px;
      }

      &::before {
        position: absolute;
        content: '';

        width: 111px;
        height: 47px;

        background-image: url('../img/cloud-info.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        bottom: 20px;
        right: -50px;
      }

      &-text {
        font-size: 1.5em;
        max-width: 450px;
        transition: 0.2s ease-in;
      }
    }

    &__event {
      &-text {
        font-size: 1.125em;
        max-width: 400px;
        margin-top: 20px;
        margin-bottom: 24px;
        transition: 0.2s ease-in;
      }
    }

    &__btn {
      @include flex-setting(column, center, center);
      @include font-setting($primary-font, 1.125em, 1.2, 900, #ffffff);

      width: 356px;
      height: 57px;

      background-color: #ff6700;
      box-shadow: 4px 4px 0 #073f72;

      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.42px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .info {
    width: 50%;
    max-width: 517px;
    margin-top: 38px;

    &__description {
      width: 517px;

      &-text {
        line-height: 1.5;
      }
    }

    &__event {
      &-text {
        line-height: 1.5;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .info {
    width: 559px;
    max-width: 559px;
    margin-top: 93px;

    &__description {
      width: 559px;
      margin-bottom: 70px;

      &::after {
        width: 96px;
        height: 100px;
        top: -30px;
        right: -30px;
      }

      &::before {
        width: 139px;
        height: 59px;

        right: -90px;
      }

      &-text {
        max-width: 470px;
        font-size: 2em;
      }
    }

    &__event {
      margin-bottom: 30px;
      
      &-text {
        max-width: 528px;
        font-size: 1.375em;
      }
    }
  }
}
