.info {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  max-width: 300px;

  &__description {
    background-color: #073f72;
    box-shadow: 2px 2px 0 #00c5df;

    width: 300px;

    @include flex-setting(column, center, center);

    margin-bottom: 10px;

    &-text {
      text-align: center;
      text-transform: uppercase;

      @include font-setting($primary-font, 0.625em, 1.2, 700, #fff7df);

      max-width: 290px;
    }

    &-text-desktop {
      display: none;
    }
  }

  &__event {
    @include flex-setting(column, center, center);
    align-self: flex-start;

    &-text {
      text-align: center;
      text-transform: uppercase;

      @include font-setting($primary-font, 1.25em, 1.2, 700, #073f72);

      margin-top: 0px;
      margin-bottom: 0;

      max-width: 230px;
      transform: rotate(-2deg);
    }
  }

  &__buttons {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .info {
    max-width: 360px;
    margin-top: 0;

    &__description {
      width: 340px;

      &-text {
        font-size: 0.75em;
        max-width: 320px;
      }
    }

    &__event {
      &-text {
        font-size: 1.375em;
        max-width: 340px;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .info {
    max-width: 100%;
    margin-top: 0;

    padding: 0 1.25rem;

    &__description {
      width: 390px;
      padding-top: 10px;
      padding-bottom: 10px;

      &-text {
        font-size: 0.875em;
        max-width: 380px;

        margin: 0;
      }
    }

    &__event {
      &-text {
        font-size: 1.5em;
        max-width: 340px;
      }
    }
  }
}

@media only screen and (min-width: $hdm) and (min-device-height: 700px){
  .info {
    max-width: 100%;
    margin-top: 40px;

    &__description {
      width: 390px;
      padding-top: 10px;
      padding-bottom: 10px;

      margin-bottom: 10px;

      &-text {
        font-size: 0.875em;
        max-width: 380px;

        margin: 0;
      }
    }

    &__event {
      &-text {
        max-width: 340px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .info {
    max-width: 100%;
    margin-top: 0;

    padding: 0 3em;

    &__description {
      width: 640px;
      transition: 0.2s ease-in;
      padding-top: 8px;
      padding-bottom: 8px;

      &-text {
        font-size: 1.375em;
        line-height: 1.2;
        max-width: 630px;
        transition: 0.2s ease-in;
      }
    }

    &__event {
      margin-left: 40px;

      &-text {
        font-size: 2.25em;
        line-height: 1.1;
        max-width: 500px;
        transition: 0.2s ease-in;
        letter-spacing: 0.83px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .info {
    max-width: 50%;
    margin-top: 38px;

    &__description {
      width: 500px;
      transition: 0.2s ease-in;
      transform: rotate(-1deg);
      box-shadow: 5px 5px 0 #00c5df;

      margin-bottom: 27px;
      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 64px;
        height: 66px;

        background-image: url('../img/ball.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        top: -30px;
        right: -30px;
      }

      &::before {
        position: absolute;
        content: '';

        width: 111px;
        height: 47px;

        background-image: url('../img/cloud-info.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        bottom: 20px;
        right: -50px;
      }

      &-text {
        font-size: 1.5em;
        max-width: 450px;
        transition: 0.2s ease-in;

        transform: rotate(1deg);
      }

      &-text-mobile {
        display: none;
      }

      &-text-desktop {
        @include flex-setting(row, center, center);
        flex-wrap: wrap;
      }
    }

    &__description-span:first-child {
      font-size: 1.875rem;
      color: #fff7df;
      transform: rotate(-4deg);
      letter-spacing: 0.88px;
      margin-right: 60px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 24px;
        height: 24px;

        background-image: url('../img/heart-new-sm.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: -44px;
        top: 7px;
      }
    }

    &__description-span:nth-child(2) {
      font-size: 1.75rem;
      color: #fff7df;
      transform: rotate(1deg);
      letter-spacing: 0.74px;
    }

    &__description-span:nth-child(3) {
      font-size: 1.875rem;
      color: #fff7df;
      transform: rotate(-3deg);
      letter-spacing: 0.83px;
      margin-left: -40px;
      margin-bottom: 10px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 51px;
        height: 49px;

        background-image: url('../img/heart-new-big.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: -95px;
        top: 80px;
      }

      &::before {
        position: absolute;
        content: '';

        width: 80px;
        height: 88px;

        background-image: url('../img/rocket.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        left: -135px;
        top: 65px;

        transform: scale(0.8);
      }
    }

    &__description-span:nth-child(4) {
      font-size: 1.625rem;
      color: #fff7df;
      transform: rotate(-3deg);
      letter-spacing: 0.69px;
      margin-left: -40px;
      margin-bottom: 10px;
    }

    &__description-span:nth-child(5) {
      font-size: 1.5rem;
      color: #fff7df;
      transform: rotate(-1deg);
      letter-spacing: 0.6px;
      margin-left: -40px;
    }

    &__event {
      margin-bottom: 40px;

      &-text {
        font-size: 2.25em;
        transform: none;
        max-width: 500px;
        transition: 0.2s ease-in;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__buttons {
      @include flex-setting(row, center, center);

      max-width: 445px;
    }

    &__btn {
      @include flex-setting(column, center, center);
      @include font-setting($primary-font, 2.5em, 1.2, 900, #ffffff);

      width: 445px;
      height: 80px;

      padding: 0;

      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.92px;

      cursor: pointer;
      outline: none;

      &--buy {
        background-color: #4ec337;
        box-shadow: 4px 4px 0 #073f72;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .info {
    width: 50%;
    max-width: 517px;
    margin-top: 38px;

    &__description {
      width: 500px;

      padding-top: 20px;
      padding-bottom: 20px;

      &-text {
        line-height: 1.1;
      }
    }

    &__event {
      margin-bottom: 20px;

      &-text {
        line-height: 1.1;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .info {
    width: 559px;
    max-width: 559px;
    margin-top: 93px;

    &__description {
      width: 559px;
      margin-bottom: 70px;


      padding-top: 20px;
      padding-bottom: 30px;

      &::after {
        width: 96px;
        height: 100px;
        top: -70px;
        right: -50px;
      }

      &::before {
        width: 139px;
        height: 59px;

        right: -90px;
      }

      &-text {
        max-width: 528px;
      }
    }


          &__description-span:first-child {
            font-size: 2.375rem;

            &::after {
              position: absolute;
              content: '';

              width: 24px;
              height: 24px;

              background-image: url('../img/heart-new-sm.png');
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;

              right: -44px;
              top: 7px;
            }
          }

          &__description-span:nth-child(2) {
            font-size: 2rem;
          }

          &__description-span:nth-child(3) {
            font-size: 2.25rem;
            margin-left: -40px;
            margin-bottom: 10px;

            &::after {
              position: absolute;
              content: '';

              width: 51px;
              height: 49px;

              background-image: url('../img/heart-new-big.png');
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;

              right: -105px;
              top: 90px;
            }

            &::before {
            left: -135px;
              top: 84px;

              transform: scale(1);
            }
          }

          &__description-span:nth-child(4) {
            font-size: 1.875rem;
            margin-left: -40px;
            margin-bottom: 10px;
          }

          &__description-span:nth-child(5) {
            font-size: 1.625rem;
            margin-left: -40px;
          }

    &__event {
      margin-bottom: 30px;
    }
  }
}
