.intro {
  @include flex-setting(column, flex-start, center);
  order: 2;

  width: 100%;
  max-width: 300px;

  &__logo {
    display: none;
  }

  &__details {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    position: relative;

    margin-bottom: 20px;
  }

  &__details-date {
    @include flex-setting(column, center, center);
    width: 259px;
    height: 53px;

    margin-top: -50px;

    background-image: url('../img/details-date-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__details-date-text {
    @include font-setting($primary-font, 1.25em, 1.2, 900, #fff7df);
    letter-spacing: 1.38px;
    transform: rotate(-2deg);
    text-shadow: 2px 2px 0 #073f72;
  }

  &__details-time {
    @include flex-setting(column, center, center);
    width: 117px;
    height: 27px;

    margin-left: 90px;
    margin-top: -30px;

    background-image: url('../img/details-time-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__details-time-text {
    @include font-setting($primary-font, 1em, 1.2, 900, #fff7df);
    letter-spacing: 0.69px;
  }
}

@media only screen and (min-width: $mobile) {
  .intro {
    max-width: 300px;

    &__details {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .intro {
    max-width: 630px;
    transition: 0.2s ease-in;

    &__details {
      margin-bottom: 20px;
    }

    &__details-pic {
      width: 568px;
      height: 398px;
    }

    &__details-date {
      width: 466px;
      height: 98px;
      margin-top: -95px;

      &-text {
        font-size: 3.125em;
        letter-spacing: 1.15px;
      }
    }

    &__details-time {
      width: 162px;
      min-height: 38px;
      height: 38px;
      margin-top: -35px;
      margin-left: 120px;

      &-text {
        font-size: 1.375em;
        letter-spacing: 0.69px;
      }
    }
  }
}
@media only screen and (min-width: $laptop) {
  .intro {
    width: 50%;
    max-width: 632px;
    transition: 0.2s ease-in;

    &__logo {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      align-self: flex-start;

      width: 307px;
      height: 144px;
    }

    &__details {
      margin-bottom: 0;
      margin-top: -10px;
      align-self: flex-end;
    }

    &__details-pic {
      width: 401px;
      height: 282px;
    }

    &__details-date {
      width: 338px;
      height: 67px;
      margin-top: -67px;

      &-text {
        font-size: 2.125em;
      }
    }

    &__details-time {
      width: 140px;
      min-height: 32px;
      height: 32px;
      margin-top: -30px;
      margin-left: 120px;

      &-text {
        font-size: 1.125em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .intro {
    max-width: 620px;
    transition: 0.2s ease-in;

    margin-right: 70px;

    &__details {
      margin-bottom: 0;
      margin-top: -40px;
      margin-right: -64px;
      align-self: flex-end;
    }

    &__details-pic {
      width: 502px;
      height: 353px;
    }

    &__details-date {
      width: 405px;
      height: 84px;
      margin-top: -84px;

      &-text {
        font-size: 2.875em;
      }
    }

    &__details-time {
      width: 175px;
      min-height: 41px;
      height: 41px;
      margin-top: -35px;

      &-text {
        font-size: 1.25em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .intro {
    max-width: 633px;
    min-width: 633px;

    margin-right: 20px;

    &__logo {
      min-width: 379px;
      max-width: 379px;
      height: 178px;
    }

    &__details {
      margin-bottom: 0;
      margin-top: -10px;
      margin-right: 0;
      margin-left: 0;
      align-self: flex-end;
    }

    &__details-pic {
      width: 633px;
      min-width: 633px;
      height: 445px;
    }

    &__details-date {
      width: 538px;
      height: 107px;
      margin-top: -110px;

      &-text {
        font-size: 3.875em;
      }
    }

    &__details-time {
      width: 235px;
      min-height: 54px;
      height: 54px;
      margin-top: -35px;

      &-text {
        font-size: 1.875em;
      }
    }
  }
}
