.main {
  @include flex-setting(column, flex-start, center);
  padding: 0;
  margin: 0 auto;

  width: 100%;

  display: flex !important;

  .slick-slide[data-slick-index*='1'],
  .slick-slide[data-slick-index*='2'] {
    .header {
      display: none;
    }
  }

  .slick-slide:nth-of-type(2),
  .slick-slide:nth-of-type(3) {
    .header {
      display: none;
    }
  }

  .slick-slide[data-slick-index*='0'] {
    .header {
      display: flex;
    }
  }
}

@media only screen and (min-width: $mobile) {

}

@media only screen and (min-width: $hdm) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $widebook-hd) {

}

@media only screen and (min-width: $hd) {

}
