.main {
  @include flex-setting(column, flex-start, center);
  padding: 0;
  margin: 0 auto;

  width: 100%;
}

@media only screen and (min-width: $mobile) {
  
}

@media only screen and (min-width: $hdm) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $widebook-hd) {

}

@media only screen and (min-width: $hd) {

}
