.main-form {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  &__description {
    @include font-setting($secondary-font, 0.75em, 1.2, 900, #3fbeb7);
    text-align: center;

    letter-spacing: 0.32px;

    max-width: 220px;

    margin-bottom: 10px;
  }

  &__textarea {
    margin-bottom: 10px;

    width: 100%;

    border: 2px solid #aab7b9;

    resize: none;

    @include font-setting($secondary-font, 0.875em, 1.2, 500, #073f72);

    letter-spacing: 0.37px;

    cursor: text;
    outline: none;

    padding: 8px 8px;

    max-height: 80px;
    min-height: 80px;

    &:hover,
    &:active,
    &:focus {
      border-color: #3fbeb7;
      transition: 0.1s ease-in;
    }
  }

  &__submit {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1em, 1.2, 900, #ffffff);

    text-transform: uppercase;
    letter-spacing: 0.42px;

    width: 176px;
    height: 40px;

    border: none;
    background-color: #2da120;

    cursor: pointer;
    outline: none;

    &:hover,
    &:active {
      box-shadow: inset 0 2px 2px #2da120, inset 0 -2px 2px #2da120;
      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .main-form {
    &__description {
      font-size: 0.875em;

      max-width: 300px;
      margin-bottom: 11px;
    }

    &__textarea {
      margin-bottom: 14px;

      font-size: 1em;

      padding: 8px 8px;

      max-height: 104px;
      min-height: 104px;
    }

    &__submit {
      font-size: 1.125em;
    }
  }
}
